.pageDevice__conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: relative;

    background-color: rgba(255, 255, 255, 0.8);;
}
.pageDevice__img{
    background: url(./pagedeviceIMG1.png);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-repeat:no-repeat ;
}
  .pageDevice__h2{
    margin-top: 70;
    }
    .pageDevice__itemconteiner{
        
        border: 10px solid #333;
        border-radius: 10px;
        position: relative;
    }
    .pageDevice__itemconteiner::after{
        content: "";
        border: 2px solid #333;
    position: absolute;
    bottom: 15px;
    left: 255px;
    width: 148px;
    background-color: #333;
    }

    .pageDevice__itemconteiner2{
        position: absolute;
        bottom: -45;
        right: -40;
        z-index: 5;
    }
        
        @media(max-width: 1024px){
            .pageDevice__itemconteiner2{
                bottom: -35px;
                right: -30;
            }
           
            
            .pageDevice__h2{
                margin-top: 30px;
            }
            .intro__content{
                margin-top: 100;
            }
            .worck__content{
                margin-top: 100;
            }
            .service__acardionItem_text{
                font-size: 18;
            }
            
            
        }
        @media (max-width: 400px){
            .pageDevice__conteiner{
                max-width: 320;
               
                height: 514;
            }
            .pageDevice__itemconteiner::after{
                width: 50px;
                left: 120;
                bottom: 5;
                border: 1px solid #333;
            }
            .pageDevice__itemconteiner2{
                bottom: -60px;
                right: 20px;
            }
            
            .intro__content{
                margin: 70 auto;
            }
            .intro__imgConteiner{
                margin-top: 0;
            }
            .pageMain_conteiner{
                max-width: 320;
            }
            .pageMain__img{
                width: 100vw;
            }
            .pageMain__background{

                width: 100vw;
            }
            .pageMain_conteiner {
                max-width: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }


