.Intro__conteiner{
    max-width: 1170;
   margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.intro__header{
    margin-top: 50;
}

.text__h1::after{
    content: "";
    border: 2px solid #F38281;
    margin: 40 auto;
    width: 170px;
    background-color: #F38281;
    display: block;
}
.intro__content{
    
    display: flex;
    align-items: center;
    
}
.intro__imgConteiner{
    display: flex;
    gap: 30px;

    margin-top: 5.8vh;
}
.intro__Item{
    position: relative;
}
.intro__ST{
    text-decoration: none;
    color: #fff;
}
.intro__imgteam{
    width: 370px;
    height: 338px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    cursor: pointer;
    opacity: 0;
    transition: all 1s;
}
.intro__imgteam:hover{
    opacity: 1;
    top: -16;
    left: -16;
}
.intro__imgteam_smart1{
    display: none;
}
.intro__imgteam_smart2{
    display: none;
}
@media(max-width: 1025px){
    .intro__imgteam{
        width: 317px;
        height: 283px;
        top: -6;
        left: -6;
    }
    .intro__imgConteiner{
        gap: 20;
    }
    .Intro__conteiner{
        max-width: 980;
    }
    .text__content{
        font-size: 14;
    }
    .intro__content{
        margin-top: 60;
    }

}
@media  (max-width: 400px){
    .intro__imgConteiner{
        flex-direction: column;
    }
    .intro__imgteam{
        width: 288;
        height: 83;
        left: 0;
        bottom: 0;
        top: 180;
        font-size: 18px;
        flex-direction: row;
        opacity: 1;
    }
    .intro__Item{
        opacity: 1;
    }
    
    
}